 {%- if section.settings.imageBG2 -%}
                    {%- render 'image-responsive', image: section.settings.imageBG2, custom_alt : shop.name, custom_class : 'loyalty-lion-signup__bgImg2' -%}
                {%- endif -%}
           

{%- if section.settings.showRewardsList -%}
    <div class="loyalty-lion-ways-to-earn">
        <h2>{{ section.settings.rewardsListHeading }}</h2>
        <div data-lion-rewards-list></div>
    </div>
{%- endif -%}





{% schema %}
{
    "name": "Rewards",
    "settings": [
       {
            "type": "image_picker",
            "id": "imageBG1",
            "label": "Background Image: Bottom Left"
        },

        {
            "type": "image_picker",
            "id": "imageBG2",
            "label": "Background Image: Top Right"
        },

        

{
            "type": "header",
            "content": "Guest View",
            "info": "Settings for users who aren't logged in."
        },

        {
            "type": "checkbox",
            "id": "showRewardsList",
            "label": "Show Rewards List",
            "default": true
        },

        {
            "type": "text",
            "id": "rewardsListHeading",
            "label": "Rewards List - Heading",
            "default": "Rewards List"
        }

        
    ]
}
{% endschema %}